# FONTS
# -----
font_family      family="{{ .font_family }}"
bold_font        auto
italic_font      auto
bold_italic_font auto
font_size {{ .sizes.font }}
# force_ltr
# symbol_map
# narrow_symbols
disable_ligatures never
# font_features
# modify_font
# box_drawing_scale
# undercurl_style
# underline_exclusion
# text_composition_strategy
# text_fg_override_threshold

# CURSOR
# ------
cursor #{{ .colorscheme.light_yellow }}
cursor_text_color #{{ .colorscheme.fg4 }}
cursor_shape beam
cursor_shape_unfocused hollow
cursor_beam_thickness 1.5
cursor_underline_thickness 2
cursor_blink_interval 0.3
cursor_stop_blinking_after 15
cursor_trail 1
cursor_trail_decay 0.1 0.4
cursor_trail_start_threshold 2

# SCROLLBACK
# ----------
scrollback_lines 10000
scrollback_indicator_opacity 1.0
# scrollback_pager_history_size
# scrollback_fit_enlarged_window
wheel_scroll_multiplier 5.0
wheel_scroll_min_lines 1
# touch_scroll_multiplier

# MOUSE
# -----
mouse_hide_wait 3.0
url_color #{{ .colorscheme.light_blue }}
url_style curly
open_url_with default
# url_prefixes
detect_urls yes
# url_excluded_characters
# show_hyperlink_targets
underline_hyperlinks hover
copy_on_select clipboard
clear_selection_on_clipboard_loss no
# paste-actions
strip_trailing_spaces never
# select_by_word_characters
# select_by_word_characters_forward
click_interval -1.0
focus_follows_mouse no
pointer_shape_when_grabbed arrow
default_pointer_shape beam
pointer_shape_when_dragging beam crosshair

# MOUSE ACTIONS
# -------------
# mouse_map
# clear_all_mouse_actions

# PERFORMANCE
# -----------
repaint_delay 10
input_delay 3
sync_to_monitor yes

# BELL
# ----
enable_audio_bell no
visual_bell_dureation 1.0
visual_bell_color #{{ .colorscheme.light_orange }}
window_alert_on_bell yes
bell_on_tab "🔔 "
command_on_bell none
bell_path none
# linux_bell_theme

# WINDOW LAYOUT
# -------------
remember_window_size no
# enabled_layouts
window_resize_step_cells 2
window_resize_step_lines 2
window_border_width 0.5
draw_minimal_borders yes
window_margin_width 2
# single_window_margin_width
window_padding_width 0
# single_window_padding_width
placement_strategy center
active_border_color #{{ .colorscheme.light_yellow }}
inactive_border_color #{{ .colorscheme.bg1 }}
bell_border_color #{{ .colorscheme.light_orange }}
inactive_text_alpha 1.0
hide_window_decorations no
window_logo_path none
# window_logo_position
# window_logo_alpha
# window_logo_scale
resize_debounce_time 0.1 0.5
resize_in_steps no
# visual_window_select_characters
confirm_os_window_close -1

# TAB BAR
# -------
# tab_bar_edge
# tab_bar_margin_width
# tab_bar_margin_height
# tab_bar_style
# tab_bar_align
# tab_bar_min_tabs
# tab_switch_strategy
# tab_fade
# tab_separator
# tab_powerline_style
# tab_activity_symbol
# tab_title_max_length
# tab_title_template
# active_tab_title_template
# active_tab_foreground
# active_tab_background
# active_tab_font_style
# inactive_tab_foreground
# inactive_tab_background
# inactive_tab_font_style
# tab_bar_background
# tab_bar_margin_color

# COLOR SCHEME
foreground #{{ .colorscheme.fg1 }}
background #{{ .colorscheme.bg0 }}
background_opacity 0.8
background_blur 3
# transparent_background_colors
dynamic_background_opacity no
background_image none
# background_image_layout
# background_image_linear
# background_tint
# background_tint_gaps
# dim_opacity
# selection_foreground
# selection_background
color0 #{{ .colorscheme.bg0 }}
color8 #{{ .colorscheme.light_gray }}
color1 #{{ .colorscheme.red }}
color9 #{{ .colorscheme.light_red }}
color2 #{{ .colorscheme.green }}
color10 #{{ .colorscheme.light_green }}
color3 #{{ .colorscheme.yellow }}
color11 #{{ .colorscheme.light_yellow }}
color4 #{{ .colorscheme.blue }}
color12 #{{ .colorscheme.light_blue }}
color5 #{{ .colorscheme.purple }}
color13 #{{ .colorscheme.light_purple }}
color6 #{{ .colorscheme.aqua }}
color14 #{{ .colorscheme.light_aqua }}
color7 #{{ .colorscheme.gray }}
color15 #{{ .colorscheme.fg }}
mark1_foreground #{{ .colorscheme.fg1 }}
mark1_background #{{ .colorscheme.bg1 }}
mark2_foreground #{{ .colorscheme.fg2 }}
mark2_background #{{ .colorscheme.bg2 }}
mark3_foreground #{{ .colorscheme.fg3 }}
mark3_background #{{ .colorscheme.bg3 }}
